.lightbox-holder {
	position: fixed;
    z-index: 1000001;
    height: 0;
    width: 100%;
}

.lightbox-holder, .high-center {
	top: 45%;
}

#lightbox .framed .lightbox {
    width: 700px;
    border: 1px solid #d0d0d0;
    box-shadow: 0 4px 4px 1px #dedede;
    background-color: #FFF;
}

#lightbox .lightbox {
	margin: auto;
}

#lightbox-shell {

}

.lightbox-header {
    font-size: 24px;
    font-family: "Proxima Nova Semibold";
    color: #393939;
    background-color: #EDEDED;
    position: relative;
    padding: 0px 23px;
    height: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#header-content {

}

.lightbox-icon-holder {
    width: 55px;
    margin-top: 4px;
}

.lightbox-icon {
    position: relative;
    left: -10px;
}

.sprite-m.sprite-m-calendar-2 {
    background-position: -1260px 0;
}

.sprite-m {
    background-image: url(https://www.uberconference.com/static/img2/sprites/v2-sprite-m.png?v=9);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
}

.lightbox-title {
    display: inline-block;
    line-height: 65px;
    font-family: "Proxima Nova Semibold";
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 540px;
    text-transform: capitalize;
}

#lightbox-title {
	color: #393939;
}

.lightbox-close-holder {
    display: inline-block;
    right: 23px;
    width: 30px;
    margin: 16px 0;
    position: absolute;
}

#lightbox #lightbox-close, #lightbox #lightbox-close-round {
    cursor: pointer;
}

.lightbox-close {
    background-position: -630px 0px;
}

.sprite-xs {
    background-image: url(https://www.uberconference.com/static/img2/sprites/v2-sprite-xs.png?v=15);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.rel {
    position: relative;
}

#lightbox-content {
    padding: 23px;
}

.lightbox-content {
    max-height: 600px;
}

.schedule-calendar {
    width: 218px;
    height: 218px;
    background-color: #ededed;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    color: #393939;
}

.ui-widget {
    font-size: 14px;
}

.ui-datepicker {
    width: 196px;
    margin-left: 12px;
    padding: 6px 0 0 0;
}

.ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker-prev {
    left: 0px;
    background-position: -150px 0px;
    background-image: url(https://www.uberconference.com/static/img2/sprites/v2-sprite-xs.png?v=1);
    width: 30px;
    height: 30px;
    top: -2px;
    background-repeat: no-repeat;
    position: absolute;
}

.ui-datepicker-next {
    right: 0px;
    background-position: -1050px 0px;
    background-image: url(https://www.uberconference.com/static/img2/sprites/v2-sprite-xs.png?v=1);
    width: 30px;
    height: 30px;
    top: -2px;
    background-repeat: no-repeat;
    position: absolute;
}

.ui-datepicker-title {
    font-size: 12px;
    color: #393939;
    text-transform: uppercase;
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.schedule-calendar thead {
    opacity: .50;
    font-size: 12px;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.schedule-calendar .ui-datepicker td {
    padding: 4px;
    border-radius: 6px;
}

.ui-state-disabled {
    cursor: default !important;
}

.ui-state-default {
    border: 0;
    color: #393939;
    text-align: center;
    font-size: 14px;
}

.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.schedule-input-wrapper {
    position: relative;
    height: 44px;
}

input.uc-input {
    font-size: 14px;
    color: #393939;
    border: 1px solid #e5e5de;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 12px 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

.schedule-input {
    font-size: 14px;
    color: #393939;
    border: 1px solid #e5e5de;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 14px;
    width: 100%;
    height: 44px;
}

.customized-col {
    padding-left: 5px;
    padding-right: 0px;
}

#second-row-time-holder {
    margin: 16px 0px 0px 0px;
    padding-left: 18px;
}

.pure-u {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.schedule-input-wrapper {
    position: relative;
    height: 44px;
}

.schedule-date #schedule-callout {
    -webkit-transform: rotate(360deg);
    border-style: inset;
    z-index: 1000002;
    position: absolute;
    left: -9px;
    top: 13px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 10px 9px 0;
    border-color: transparent #efefef transparent transparent;
}

.sprite-xs.sprite-xs-cal {
    background-position: -180px 0;
}

.sprint-xs-input {
    position: absolute;
    margin-top: 6px;
}

.sprite-xs {
    background-image: url(https://www.uberconference.com/static/img2/sprites/v2-sprite-xs.png?v=15);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.schedule-date #conference-date {
    background-color: #efefef;
    border-color: #efefef;
}

.schedule-input.icon-input {
    padding-left: 30px;
}

.sprite-xs.sprite-xs-cal {
    background-position: -180px 0;
}

.sprint-xs-input {
    position: absolute;
    margin-top: 6px;
}

.sprite-xs {
    background-image: url(https://www.uberconference.com/static/img2/sprites/v2-sprite-xs.png?v=15);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.form-dropdown {
    position: relative;
    height: 44px;
}

.sprite-xs.sprite-xs-clock {
    background-position: -210px 0;
}

.sprint-xs-input {
    position: absolute;
    margin-top: 6px;
}
.sprite-xs {
    background-image: url(https://www.uberconference.com/static/img2/sprites/v2-sprite-xs.png?v=15);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.form-dropdown input.uc-input {
    background-origin: content-box;
    background-image: url('https://www.uberconference.com/static/img2/downarrow.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.schedule-input.icon-input {
    padding-left: 30px;
}

.schedule-menu {
    position: relative;
    top: -10px;
    background: #fff;
    padding: 0;
    display: none;
    border: 1px solid #e5e5de;
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .25);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .25);
    z-index: 4;
    max-height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.schedule-menu li {
    text-align: left;
    cursor: pointer;
}

.ui-menu .ui-menu-item a {
    padding: 0px 15px;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal;
}

.sprite-xs.sprite-xs-question-mark-white-bg {
    background-position: -2220px 0;
}

.sprite-xs.sprite-xs-hyperloop {
    background-position: -240px 0;
}

.link {
    color: #41AAD3;
    cursor: pointer;
    text-decoration: none;
}

.lightbox-back {
    margin-right: 16px;
}

.button-height-text {
    height: 40px;
    line-height: 41px;
    vertical-align: middle;
}

.button.button-medium {
    font-size: 14px;
    border-radius: 50px;
    padding: 0px 21px;
    height: 40px;
    line-height: 41px;
}

.button.button-blue {
    background-color: #41AAD3;
    color: #ffffff;
}

.button {
    text-transform: uppercase;
    font-family: "Proxima Nova Semibold", Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.schedule-dots {
    margin: 12px auto 0 auto;
    text-align: center;
    line-height: 0px;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 0 4px;
}

.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.step-dot-on {
    background: #000000;
}

.step-dot {
    background: #868686;
}